<div id="<%= dom_id note %>">
  <p>
    <strong>Title:</strong>
    <%= note.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= note.body %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= note.author %>
  </p>

  <p>
    <strong>Creation date:</strong>
    <%= note.creation_date %>
  </p>

</div>
